
<mat-toolbar color="primary">
    <span>FUREVER HOME</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/services">Services</button>
    <button mat-button routerLink="/contact">Contact</button>
  </mat-toolbar>
  
<section class="about-header">
    <h1>ABOUT US</h1>
    <p class="quote">Some Angels Choose Fur Instead of Wings</p>
  </section>
  
  <section class="mission-vision">
    <div class="mission">
      <img src="assets/images/luna.jpg" alt="Mission Image">
      <h2 class="mission">OUR MISSION</h2>
      <p>Noah’s Ark Dog and Cat Shelter is dedicated to rescuing, rehabilitating, and rehoming abandoned and stray animals. We provide medical care, a safe environment, and compassionate support to help them find loving homes. Through education and community engagement, we promote responsible pet ownership and advocate for animal welfare. United by compassion, we strive to create a future where every animal is valued and protected.</p>
    </div>
    <div class="vision">
      <h2>OUR VISION</h2>
      <p>A compassionate and humane community where every dog and cat is loved, protected, and given a second chance at life</p>
      <img src="assets/images/charlie.jpg" alt="Vision Image">
    </div>
  </section>
  
  <section class="video-section">
    <h2>VIDEO</h2>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/U8X9TZi_r_c?si=boVluNlDHAug_ZiB" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
  
  <section class="educational-resources">
    <h2>Educational Resources</h2>
    <div class="resources">
      <div class="resource-item">
        <img src="assets/images/adopt-me-.jpg" alt="Resource 1">
        <a href="https://wvs.org.uk/news/10-reasons-why-you-should-adopt-dont-shop/" target="_blank" class = "line"><button>Find Out More</button></a>
      </div>
      <div class="resource-item">
        <img src="assets/images/love-me.jpg" alt="Resource 2">
        <a href="https://www.animalfriends.co.uk/dog/dog-blog/10-benefits-of-adopting-a-pet/" target="_blank" class = "line"><button>Find Out More</button></a>
      </div>
      <div class="resource-item">
        <img src="assets/images/benefit.jpg" alt="Resource 3">
        <a href="https://vetmed.vt.edu/news/2023/adopting-from-animal-shelters.html" target="_blank" class = "line"><button>Find Out More</button></a>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer-content">
      <div class="footer-location">
        <p class="loc">LOCATION</p>
        <p class="address">Sitio Irung Brgy. Tabun, Mabalacat, Philippines</p>
      </div>
      <div class="footer-links">
        <a routerLink="/home">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/services">Services</a>
        <a routerLink="/contact">Contact</a>
      </div>
      <div class="footer-follow">
        <p>FOLLOW US</p>
        <a class = "facebook" href="https://www.facebook.com/Noahsarkdogandcatshelter" target="_blank"><p>Facebook</p></a>
      </div>
    </div>
  </footer>